<h1>All the restaurants</h1>


<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
    <%= link_to restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa-solid fa-trash-can"></i>
    <%end%>
  </li>
    <% end %>
</ul>

<%= link_to 'Create new restaurant', new_restaurant_path, class:"btn btn-primary"%>
